<header class="jumbotron">
    <h3>
      <strong>Appointments</strong> 
    </h3>
</header>

<div id="appointmentTable">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
        <tr>
            <th [style.display]="'none'">Appointment Ids</th>
            <th>Date</th>
            <th>Session Times</th>
            <th>AppointmentType</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th id="comments">Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments">
            <td [style.display]="'none'">{{ appointment.AppointmentId}}</td>
            <td>{{ appointment.AppointmentDate | date:'dd-MM-yyyy'}}</td>
            <td>{{ appointment.Session.StartTime }} - {{appointment.Session.EndTime}}</td>
            <td>{{ appointment.AppointmentType }}</td>
            <td>{{ appointment.User.FirstName }}</td>
            <td>{{ appointment.User.LastName }}</td>
            <td>{{ appointment.User.Email }}</td>
            <td>{{ appointment.User.PhoneNumber }}</td>
            <td *ngIf="appointment.Comments" id="comments">{{ appointment.Comments }}</td>
            <td *ngIf="!(appointment.Comments)" id="commentPlaceHolder"><i>click to insert comments</i></td>
        </tr>
        </tbody>
    </table>
</div>